In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from matplotlib.pyplot import figure

figure(figsize=(70, 20), dpi=80)

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving CUSTOMERS.csv to CUSTOMERS.csv
Saving REGION.csv to REGION.csv

In [ ]:
salesdetails=pd.read_csv('SALESDETAILS.csv')
region=pd.read_csv('REGION.csv')
customer=pd.read_csv('CUSTOMERS.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
region.columns

Index(['Region Name', 'Region Code'], dtype='object')

In [ ]:
df_merge1=pd.merge(salesdetails, customer, on='Address Number')

In [ ]:
df_merge1.head()

   Actual Delivery Date  Address Number  ...  Regional Sales Mgr  Search Type
0                   NaN        10025919  ...                 S16            C
1                   NaN        10025919  ...                 S16            C
2                   NaN        10025919  ...                 S16            C
3                   NaN        10025919  ...                 S16            C
4                   NaN        10025919  ...                 S16            C

[5 rows x 43 columns]

In [ ]:
df_merge2=pd.merge(df_merge1, region, on='Region Code')

In [ ]:
df_merge2.head()

   Actual Delivery Date  Address Number  ...  Search Type  Region Name
0                   NaN        10025919  ...            C      Western
1                   NaN        10025919  ...            C      Western
2                   NaN        10025919  ...            C      Western
3                   NaN        10025919  ...            C      Western
4                   NaN        10025919  ...            C      Western

[5 rows x 44 columns]

In [ ]:
df_merge2['Sales Price']=df_merge2['Sales Price'].fillna(0)
df_merge2['Sales Quantity']=df_merge2['Sales Quantity'].fillna(0)

In [ ]:
revenue= df_merge2['Sales Price']*df_merge2['Sales Quantity']

In [ ]:
df_merge2['Revenue']=revenue

In [ ]:
df_merge2.head(-500)

        Actual Delivery Date  Address Number  ...  Region Name  Revenue
0                        NaN        10025919  ...      Western     0.00
1                        NaN        10025919  ...      Western     0.00
2                        NaN        10025919  ...      Western     0.00
3                        NaN        10025919  ...      Western     0.00
4                        NaN        10025919  ...      Western     0.00
...                      ...             ...  ...          ...      ...
297656               39640.0        10026006  ...       Canada   132.84
297657               39674.0        10026006  ...       Canada   132.84
297658               39608.0        10026006  ...       Canada   360.00
297659               39758.0        10026006  ...       Canada    33.25
297660               39549.0        10026006  ...       Canada    40.83

[297661 rows x 45 columns]

In [ ]:
indexNames = df_merge2[ df_merge2['Revenue'] <0].index
df_merge2.drop(indexNames , inplace=True)

In [ ]:
grouped_df = df_merge2.groupby(['Region Code'])

In [ ]:
grouped_and_summed = grouped_df.sum()

In [ ]:
grouped_and_summed = grouped_and_summed.reset_index()

In [ ]:
print(grouped_and_summed)

   Region Code  Actual Delivery Date  ...  Division       Revenue
0            0          6.544834e+08  ...     17477  9.481345e+06
1            1          2.147860e+09  ...    111154  3.188148e+07
2            2          1.848285e+09  ...     96964  2.863755e+07
3            3          8.984907e+08  ...     46034  1.000192e+07
4            4          2.165117e+09  ...    114284  7.168119e+07
5            5          3.474271e+09  ...     89289  1.115213e+08

[6 rows x 25 columns]

In [ ]:
df_final=grouped_and_summed.filter(['Region Code','Revenue'], axis=1)

In [ ]:
df_final

   Region Code       Revenue
0            0  9.481345e+06
1            1  3.188148e+07
2            2  2.863755e+07
3            3  1.000192e+07
4            4  7.168119e+07
5            5  1.115213e+08

In [ ]:
df_final.dtypes

Region Code      int64
Revenue        float64
dtype: object

In [ ]:
df_final.to_csv('revenuebyRegion.csv')